<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="products"
               routerLinkActive="active"
               class="nav-link"
            >{{productListNavItem}}</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-product"
               routerLinkActive="active"
               class="nav-link"
            >{{createProductNavItem}}</a>
        </li>
    </ul>
</nav>



<div class="container">
    <div></div>
    <h1 class="text-center">{{title}}</h1>
    <router-outlet></router-outlet>
</div>

<footer class="footer footer-size" style="position: fixed">
    <div class="container">
        <span>{{authorRights}}</span>
    </div>
</footer>
